<!--SOBRE-->
<!DOCTYPE html>
<html lang="en">
<!--INCLUINDO OS ARQS-->
<%- include("../partials/head"); %> 
<body class="container">
    <%- include("../partials/header"); %>
    <main>
        <div>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Olá, me chamo Bryan sou estudande de Análise e desenvolvimento 
                    de Sistemas e estou estudande NODE + EJS</p>
            </div>
        </div>
    </main>
    <%- include("../partials/footer"); %>
    <!-- http://localhost:8080/sobre Para rodar a pasta about-->
</body>
</html>