<!--As linhas de código forma tiradas do index e passada para um arq próprio-->
<header>
    <nav class="navbar navbar-expand-lg bg-light">
            <!--HOME THIS PROJECT-->
        <a  class="navbar-brand" href="/">EJS</a> 

        <ul class="navbar-nav mr-auto">
            <!--Menu de navegação pegado do arq Server-->
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <p> 
            <li class="nav-item" ><a href="/sobre" class="nav-link" >About</a></li>

        </ul>
    </nav>
</header>